{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Font Awosome -->

        <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-8106c2e05ae3cd7bfbb686f33d73a923.css?vsn=d" />

        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />

        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css" />

        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css" />

        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css" />

        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css" />

        <!-- Font link -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

        <link rel="stylesheet" href="{% static 'css/citizen__panel.css' %}" />
        <link rel="shortcut icon" href="./images/icons8-good-quality-48.png" type="image/x-icon" />
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css" />

        <title>Volenteer Panel</title>
    </head>
    <body>

        <!-- ========================= Navbar =========================== -->

        <nav class="navbar navbar-expand-lg customNav">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <picture>
                        <img src="./images/2.png" alt="logo" class="navbar__logo" />
                    </picture>
                </a>

                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        sudip24
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="volenteer_profile.php">Profile</a></li>
                        <li><a class="dropdown-item" href="index.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- ========================= Navbar =========================== -->

        <!-- ========================= Log in =========================== -->

        <section id="servicepart">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center">
                            <h3 class="servicepart__heading__h3">Welcome to Your dashboard</h3>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 gy-4 d-flex justify-content-center">
                    <div class="col-lg-4">
                        <a href="./vaccineupdate.php" target="_blank">
                            <div class="serviceitem">
                                <i class="fa-solid fa-user-pen serviceitem__icon"></i>
                                <h3 class="py-3 serviceitem__h3">Update</h3>
                                <p class="serviceitem__p">Change the vaccination status after giving vaccine.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="./monthlyreport.php" target="_blank">
                            <div class="serviceitem">
                                <i class="fa-solid fa-file-spreadsheet serviceitem__icon"></i>
                                <h3 class="py-3 serviceitem__h3">Monthly Report</h3>
                                <p class="serviceitem__p">Submit the number of new born babies and deaths of the month.</p>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="col-lg-4">
                        <a href="./birth__certificate.html">
                            <div class="serviceitem">
                                <i class="fa-sharp fa-solid fa-file-certificate serviceitem__icon"></i>
                                <h3 class="py-3 serviceitem__h3">Birth Certificate</h3>
                                <p class="serviceitem__p">Obtain your automatically generated birth certificate</p>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </section>

        <!-- ========================= Log in =========================== -->

        <!-- ======================== footer Part =========================== -->

        <footer id="footerpart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="footerTopLeft">
                            <picture>
                                <img src="./images/2.png" alt class="footer__logo" />
                            </picture>
                            <p class="mt-4 text-white footerTopLeft__p">We are always open to discuss and improve your online presence.</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="footerRight offset-lg-1">
                            <h3 class="footerRight__h3 text-white">Lets Digitalize!</h3>
                            <p class="footerRight__p text-white my-3">“The biggest part of our digital transformation is changing the way we think.” — Simeon Preston.</p>
                            <div class="icons text-white">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </footer>

        <!-- ======================== footer Part =========================== -->

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    --></body>
</html>

